<div class="row-fluid">
    <div class="well sidebar-nav">
        <ul class="nav nav-list">
            <li class="nav-header">
                Folders
            </li>
            <li class="active">
                <a href="#">Uploads</a>
            </li>
            <li class="divider"></li>
            <li class="nav-header">Storage Widget</li>
            <li>
                <div data-bind="compose:'viewmodels/StorageWidget'"></div>
            </li>
            <li class="divider"></li>
        </ul>
    </div>
</div>


